<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">MedRecord</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav me-auto">
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'patients' %}">Patients</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'create_patient' %}">Add Patient</a></li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{% url 'signin' %}">Login</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>